--
-- PostgreSQL database dump
--

\restrict Qna50PZQDTYtZgmG9jGMcawF6y5D0DGzjnPbjvThIRx7u9tS6dr6KHdFZestSzc

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."UserRole" DROP CONSTRAINT IF EXISTS "UserRole_userId_fkey";
ALTER TABLE IF EXISTS ONLY public."UserRole" DROP CONSTRAINT IF EXISTS "UserRole_roleId_fkey";
ALTER TABLE IF EXISTS ONLY public."Support" DROP CONSTRAINT IF EXISTS "Support_managementId_fkey";
ALTER TABLE IF EXISTS ONLY public."Support" DROP CONSTRAINT IF EXISTS "Support_expensePackageId_fkey";
ALTER TABLE IF EXISTS ONLY public."Support" DROP CONSTRAINT IF EXISTS "Support_expenseConceptId_fkey";
ALTER TABLE IF EXISTS ONLY public."Support" DROP CONSTRAINT IF EXISTS "Support_costCenterId_fkey";
ALTER TABLE IF EXISTS ONLY public."Support" DROP CONSTRAINT IF EXISTS "Support_areaId_fkey";
ALTER TABLE IF EXISTS ONLY public."SupportCostCenter" DROP CONSTRAINT IF EXISTS "SupportCostCenter_supportId_fkey";
ALTER TABLE IF EXISTS ONLY public."SupportCostCenter" DROP CONSTRAINT IF EXISTS "SupportCostCenter_costCenterId_fkey";
ALTER TABLE IF EXISTS ONLY public."RolePermission" DROP CONSTRAINT IF EXISTS "RolePermission_roleId_fkey";
ALTER TABLE IF EXISTS ONLY public."RolePermission" DROP CONSTRAINT IF EXISTS "RolePermission_permissionId_fkey";
ALTER TABLE IF EXISTS ONLY public."PurchaseOrder" DROP CONSTRAINT IF EXISTS "PurchaseOrder_vendorId_fkey";
ALTER TABLE IF EXISTS ONLY public."Provision" DROP CONSTRAINT IF EXISTS "Provision_sustentoId_fkey";
ALTER TABLE IF EXISTS ONLY public."OC" DROP CONSTRAINT IF EXISTS "OC_supportId_fkey";
ALTER TABLE IF EXISTS ONLY public."OC" DROP CONSTRAINT IF EXISTS "OC_cecoId_fkey";
ALTER TABLE IF EXISTS ONLY public."OC" DROP CONSTRAINT IF EXISTS "OC_budgetPeriodToId_fkey";
ALTER TABLE IF EXISTS ONLY public."OC" DROP CONSTRAINT IF EXISTS "OC_budgetPeriodFromId_fkey";
ALTER TABLE IF EXISTS ONLY public."OC" DROP CONSTRAINT IF EXISTS "OC_articuloId_fkey";
ALTER TABLE IF EXISTS ONLY public."OCStatusHistory" DROP CONSTRAINT IF EXISTS "OCStatusHistory_ocId_fkey";
ALTER TABLE IF EXISTS ONLY public."OCCostCenter" DROP CONSTRAINT IF EXISTS "OCCostCenter_ocId_fkey";
ALTER TABLE IF EXISTS ONLY public."OCCostCenter" DROP CONSTRAINT IF EXISTS "OCCostCenter_costCenterId_fkey";
ALTER TABLE IF EXISTS ONLY public."Invoice" DROP CONSTRAINT IF EXISTS "Invoice_vendorId_fkey";
ALTER TABLE IF EXISTS ONLY public."Invoice" DROP CONSTRAINT IF EXISTS "Invoice_ocId_fkey";
ALTER TABLE IF EXISTS ONLY public."InvoiceStatusHistory" DROP CONSTRAINT IF EXISTS "InvoiceStatusHistory_invoiceId_fkey";
ALTER TABLE IF EXISTS ONLY public."InvoicePeriod" DROP CONSTRAINT IF EXISTS "InvoicePeriod_periodId_fkey";
ALTER TABLE IF EXISTS ONLY public."InvoicePeriod" DROP CONSTRAINT IF EXISTS "InvoicePeriod_invoiceId_fkey";
ALTER TABLE IF EXISTS ONLY public."InvoiceCostCenter" DROP CONSTRAINT IF EXISTS "InvoiceCostCenter_invoiceId_fkey";
ALTER TABLE IF EXISTS ONLY public."InvoiceCostCenter" DROP CONSTRAINT IF EXISTS "InvoiceCostCenter_costCenterId_fkey";
ALTER TABLE IF EXISTS ONLY public."ExpenseConcept" DROP CONSTRAINT IF EXISTS "ExpenseConcept_packageId_fkey";
ALTER TABLE IF EXISTS ONLY public."ControlLine" DROP CONSTRAINT IF EXISTS "ControlLine_supportId_fkey";
ALTER TABLE IF EXISTS ONLY public."ControlLine" DROP CONSTRAINT IF EXISTS "ControlLine_poId_fkey";
ALTER TABLE IF EXISTS ONLY public."ControlLine" DROP CONSTRAINT IF EXISTS "ControlLine_periodId_fkey";
ALTER TABLE IF EXISTS ONLY public."ControlLine" DROP CONSTRAINT IF EXISTS "ControlLine_invoiceId_fkey";
ALTER TABLE IF EXISTS ONLY public."ControlLine" DROP CONSTRAINT IF EXISTS "ControlLine_accountingPeriodId_fkey";
ALTER TABLE IF EXISTS ONLY public."BudgetAllocation" DROP CONSTRAINT IF EXISTS "BudgetAllocation_versionId_fkey";
ALTER TABLE IF EXISTS ONLY public."BudgetAllocation" DROP CONSTRAINT IF EXISTS "BudgetAllocation_supportId_fkey";
ALTER TABLE IF EXISTS ONLY public."BudgetAllocation" DROP CONSTRAINT IF EXISTS "BudgetAllocation_periodId_fkey";
ALTER TABLE IF EXISTS ONLY public."BudgetAllocation" DROP CONSTRAINT IF EXISTS "BudgetAllocation_costCenterId_fkey";
ALTER TABLE IF EXISTS ONLY public."Area" DROP CONSTRAINT IF EXISTS "Area_managementId_fkey";
ALTER TABLE IF EXISTS ONLY public."AccountingClosure" DROP CONSTRAINT IF EXISTS "AccountingClosure_periodId_fkey";
DROP INDEX IF EXISTS public.ix_userrole_user;
DROP INDEX IF EXISTS public.ix_userrole_role;
DROP INDEX IF EXISTS public.ix_user_email;
DROP INDEX IF EXISTS public.ix_supportcostcenter_support;
DROP INDEX IF EXISTS public.ix_supportcostcenter_costcenter;
DROP INDEX IF EXISTS public.ix_rolepermission_role;
DROP INDEX IF EXISTS public.ix_rolepermission_permission;
DROP INDEX IF EXISTS public.ix_role_name;
DROP INDEX IF EXISTS public.ix_provision_sustento;
DROP INDEX IF EXISTS public.ix_provision_periodo_ppto;
DROP INDEX IF EXISTS public.ix_provision_periodo_contable;
DROP INDEX IF EXISTS public.ix_permission_parent;
DROP INDEX IF EXISTS public.ix_permission_module;
DROP INDEX IF EXISTS public.ix_permission_key;
DROP INDEX IF EXISTS public.ix_ocstatushistory_oc;
DROP INDEX IF EXISTS public.ix_ocstatushistory_changed_at;
DROP INDEX IF EXISTS public.ix_occostcenter_oc;
DROP INDEX IF EXISTS public.ix_occostcenter_costcenter;
DROP INDEX IF EXISTS public.ix_oc_support;
DROP INDEX IF EXISTS public.ix_oc_fecha_registro;
DROP INDEX IF EXISTS public.ix_oc_estado;
DROP INDEX IF EXISTS public.ix_invoiceperiod_period;
DROP INDEX IF EXISTS public.ix_invoiceperiod_invoice;
DROP INDEX IF EXISTS public.ix_invoicecostcenter_invoice;
DROP INDEX IF EXISTS public.ix_invoicecostcenter_costcenter;
DROP INDEX IF EXISTS public.ix_invoice_oc;
DROP INDEX IF EXISTS public.ix_cl_type_state;
DROP INDEX IF EXISTS public.ix_cl_support_accounting_period;
DROP INDEX IF EXISTS public.ix_cl_period;
DROP INDEX IF EXISTS public.ix_cl_accounting_period;
DROP INDEX IF EXISTS public.ix_alloc_period_ceco;
DROP INDEX IF EXISTS public.ix_alloc_budget_type;
DROP INDEX IF EXISTS public."Vendor_taxId_key";
DROP INDEX IF EXISTS public."User_googleId_key";
DROP INDEX IF EXISTS public."User_email_key";
DROP INDEX IF EXISTS public."UserRole_userId_roleId_key";
DROP INDEX IF EXISTS public."Support_name_unique_lower";
DROP INDEX IF EXISTS public."Support_code_key";
DROP INDEX IF EXISTS public."SupportCostCenter_supportId_costCenterId_key";
DROP INDEX IF EXISTS public."Role_name_key";
DROP INDEX IF EXISTS public."RolePermission_roleId_permissionId_key";
DROP INDEX IF EXISTS public."PurchaseOrder_number_key";
DROP INDEX IF EXISTS public."Permission_key_key";
DROP INDEX IF EXISTS public."OC_numeroOc_key";
DROP INDEX IF EXISTS public."OCCostCenter_ocId_costCenterId_key";
DROP INDEX IF EXISTS public."Management_name_unique_lower";
DROP INDEX IF EXISTS public."InvoicePeriod_invoiceId_periodId_key";
DROP INDEX IF EXISTS public."InvoiceCostCenter_invoiceId_costCenterId_key";
DROP INDEX IF EXISTS public."ExpensePackage_name_unique_lower";
DROP INDEX IF EXISTS public."ExpenseConcept_packageId_name_unique_lower";
DROP INDEX IF EXISTS public."ExchangeRate_year_key";
DROP INDEX IF EXISTS public."CostCenter_code_unique_lower";
DROP INDEX IF EXISTS public."CostCenter_code_key";
DROP INDEX IF EXISTS public."BudgetAllocation_versionId_periodId_supportId_costCenterId__key";
DROP INDEX IF EXISTS public."Articulo_code_unique_lower";
DROP INDEX IF EXISTS public."Articulo_code_key";
DROP INDEX IF EXISTS public."Area_name_unique_lower";
DROP INDEX IF EXISTS public."AccountingClosure_periodId_key";
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
ALTER TABLE IF EXISTS ONLY public."Vendor" DROP CONSTRAINT IF EXISTS "Vendor_pkey";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."UserRole" DROP CONSTRAINT IF EXISTS "UserRole_pkey";
ALTER TABLE IF EXISTS ONLY public."Support" DROP CONSTRAINT IF EXISTS "Support_pkey";
ALTER TABLE IF EXISTS ONLY public."Support" DROP CONSTRAINT IF EXISTS "Support_name_key";
ALTER TABLE IF EXISTS ONLY public."SupportCostCenter" DROP CONSTRAINT IF EXISTS "SupportCostCenter_pkey";
ALTER TABLE IF EXISTS ONLY public."Role" DROP CONSTRAINT IF EXISTS "Role_pkey";
ALTER TABLE IF EXISTS ONLY public."RolePermission" DROP CONSTRAINT IF EXISTS "RolePermission_pkey";
ALTER TABLE IF EXISTS ONLY public."PurchaseOrder" DROP CONSTRAINT IF EXISTS "PurchaseOrder_pkey";
ALTER TABLE IF EXISTS ONLY public."Provision" DROP CONSTRAINT IF EXISTS "Provision_pkey";
ALTER TABLE IF EXISTS ONLY public."Permission" DROP CONSTRAINT IF EXISTS "Permission_pkey";
ALTER TABLE IF EXISTS ONLY public."Period" DROP CONSTRAINT IF EXISTS "Period_pkey";
ALTER TABLE IF EXISTS ONLY public."OC" DROP CONSTRAINT IF EXISTS "OC_pkey";
ALTER TABLE IF EXISTS ONLY public."OCStatusHistory" DROP CONSTRAINT IF EXISTS "OCStatusHistory_pkey";
ALTER TABLE IF EXISTS ONLY public."OCCostCenter" DROP CONSTRAINT IF EXISTS "OCCostCenter_pkey";
ALTER TABLE IF EXISTS ONLY public."Management" DROP CONSTRAINT IF EXISTS "Management_pkey";
ALTER TABLE IF EXISTS ONLY public."Invoice" DROP CONSTRAINT IF EXISTS "Invoice_pkey";
ALTER TABLE IF EXISTS ONLY public."InvoiceStatusHistory" DROP CONSTRAINT IF EXISTS "InvoiceStatusHistory_pkey";
ALTER TABLE IF EXISTS ONLY public."InvoicePeriod" DROP CONSTRAINT IF EXISTS "InvoicePeriod_pkey";
ALTER TABLE IF EXISTS ONLY public."InvoiceCostCenter" DROP CONSTRAINT IF EXISTS "InvoiceCostCenter_pkey";
ALTER TABLE IF EXISTS ONLY public."FxReference" DROP CONSTRAINT IF EXISTS "FxReference_pkey";
ALTER TABLE IF EXISTS ONLY public."ExpensePackage" DROP CONSTRAINT IF EXISTS "ExpensePackage_pkey";
ALTER TABLE IF EXISTS ONLY public."ExpenseConcept" DROP CONSTRAINT IF EXISTS "ExpenseConcept_pkey";
ALTER TABLE IF EXISTS ONLY public."ExchangeRate" DROP CONSTRAINT IF EXISTS "ExchangeRate_pkey";
ALTER TABLE IF EXISTS ONLY public."CostCenter" DROP CONSTRAINT IF EXISTS "CostCenter_pkey";
ALTER TABLE IF EXISTS ONLY public."ControlLine" DROP CONSTRAINT IF EXISTS "ControlLine_pkey";
ALTER TABLE IF EXISTS ONLY public."BudgetVersion" DROP CONSTRAINT IF EXISTS "BudgetVersion_pkey";
ALTER TABLE IF EXISTS ONLY public."BudgetAllocation" DROP CONSTRAINT IF EXISTS "BudgetAllocation_pkey";
ALTER TABLE IF EXISTS ONLY public."Articulo" DROP CONSTRAINT IF EXISTS "Articulo_pkey";
ALTER TABLE IF EXISTS ONLY public."Area" DROP CONSTRAINT IF EXISTS "Area_pkey";
ALTER TABLE IF EXISTS ONLY public."AccountingClosure" DROP CONSTRAINT IF EXISTS "AccountingClosure_pkey";
ALTER TABLE IF EXISTS public."Vendor" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."UserRole" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."User" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."SupportCostCenter" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Support" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."RolePermission" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Role" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."PurchaseOrder" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Provision" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Permission" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Period" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."OCStatusHistory" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."OCCostCenter" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."OC" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Management" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."InvoiceStatusHistory" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."InvoicePeriod" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."InvoiceCostCenter" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Invoice" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."FxReference" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."ExpensePackage" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."ExpenseConcept" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."ExchangeRate" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."CostCenter" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."ControlLine" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."BudgetVersion" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."BudgetAllocation" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Articulo" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."Area" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public."AccountingClosure" ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public._prisma_migrations;
DROP SEQUENCE IF EXISTS public."Vendor_id_seq";
DROP TABLE IF EXISTS public."Vendor";
DROP SEQUENCE IF EXISTS public."User_id_seq";
DROP SEQUENCE IF EXISTS public."UserRole_id_seq";
DROP TABLE IF EXISTS public."UserRole";
DROP TABLE IF EXISTS public."User";
DROP SEQUENCE IF EXISTS public."Support_id_seq";
DROP SEQUENCE IF EXISTS public."SupportCostCenter_id_seq";
DROP TABLE IF EXISTS public."SupportCostCenter";
DROP TABLE IF EXISTS public."Support";
DROP SEQUENCE IF EXISTS public."Role_id_seq";
DROP SEQUENCE IF EXISTS public."RolePermission_id_seq";
DROP TABLE IF EXISTS public."RolePermission";
DROP TABLE IF EXISTS public."Role";
DROP SEQUENCE IF EXISTS public."PurchaseOrder_id_seq";
DROP TABLE IF EXISTS public."PurchaseOrder";
DROP SEQUENCE IF EXISTS public."Provision_id_seq";
DROP TABLE IF EXISTS public."Provision";
DROP SEQUENCE IF EXISTS public."Permission_id_seq";
DROP TABLE IF EXISTS public."Permission";
DROP SEQUENCE IF EXISTS public."Period_id_seq";
DROP TABLE IF EXISTS public."Period";
DROP SEQUENCE IF EXISTS public."OC_id_seq";
DROP SEQUENCE IF EXISTS public."OCStatusHistory_id_seq";
DROP TABLE IF EXISTS public."OCStatusHistory";
DROP SEQUENCE IF EXISTS public."OCCostCenter_id_seq";
DROP TABLE IF EXISTS public."OCCostCenter";
DROP TABLE IF EXISTS public."OC";
DROP SEQUENCE IF EXISTS public."Management_id_seq";
DROP TABLE IF EXISTS public."Management";
DROP SEQUENCE IF EXISTS public."Invoice_id_seq";
DROP SEQUENCE IF EXISTS public."InvoiceStatusHistory_id_seq";
DROP TABLE IF EXISTS public."InvoiceStatusHistory";
DROP SEQUENCE IF EXISTS public."InvoicePeriod_id_seq";
DROP TABLE IF EXISTS public."InvoicePeriod";
DROP SEQUENCE IF EXISTS public."InvoiceCostCenter_id_seq";
DROP TABLE IF EXISTS public."InvoiceCostCenter";
DROP TABLE IF EXISTS public."Invoice";
DROP SEQUENCE IF EXISTS public."FxReference_id_seq";
DROP TABLE IF EXISTS public."FxReference";
DROP SEQUENCE IF EXISTS public."ExpensePackage_id_seq";
DROP TABLE IF EXISTS public."ExpensePackage";
DROP SEQUENCE IF EXISTS public."ExpenseConcept_id_seq";
DROP TABLE IF EXISTS public."ExpenseConcept";
DROP SEQUENCE IF EXISTS public."ExchangeRate_id_seq";
DROP TABLE IF EXISTS public."ExchangeRate";
DROP SEQUENCE IF EXISTS public."CostCenter_id_seq";
DROP TABLE IF EXISTS public."CostCenter";
DROP SEQUENCE IF EXISTS public."ControlLine_id_seq";
DROP TABLE IF EXISTS public."ControlLine";
DROP SEQUENCE IF EXISTS public."BudgetVersion_id_seq";
DROP TABLE IF EXISTS public."BudgetVersion";
DROP SEQUENCE IF EXISTS public."BudgetAllocation_id_seq";
DROP TABLE IF EXISTS public."BudgetAllocation";
DROP SEQUENCE IF EXISTS public."Articulo_id_seq";
DROP TABLE IF EXISTS public."Articulo";
DROP SEQUENCE IF EXISTS public."Area_id_seq";
DROP TABLE IF EXISTS public."Area";
DROP SEQUENCE IF EXISTS public."AccountingClosure_id_seq";
DROP TABLE IF EXISTS public."AccountingClosure";
DROP FUNCTION IF EXISTS public.fix_utf8(text_input text);
DROP TYPE IF EXISTS public."OcStatus";
DROP TYPE IF EXISTS public."InvStatus";
DROP TYPE IF EXISTS public."InvDocType";
DROP TYPE IF EXISTS public."ExpenseType";
DROP TYPE IF EXISTS public."ClType";
DROP TYPE IF EXISTS public."ClState";
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ClState; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ClState" AS ENUM (
    'NO_PROCESADO',
    'PROCESADO',
    'PROVISIONADO'
);


--
-- Name: ClType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ClType" AS ENUM (
    'PPTO',
    'RPPTO',
    'GASTO',
    'PROVISION'
);


--
-- Name: ExpenseType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ExpenseType" AS ENUM (
    'ADMINISTRATIVO',
    'PRODUCTO',
    'DISTRIBUIBLE'
);


--
-- Name: InvDocType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."InvDocType" AS ENUM (
    'FACTURA',
    'NOTA_CREDITO'
);


--
-- Name: InvStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."InvStatus" AS ENUM (
    'INGRESADO',
    'EN_APROBACION',
    'EN_CONTABILIDAD',
    'EN_TESORERIA',
    'EN_ESPERA_DE_PAGO',
    'PAGADO',
    'RECHAZADO'
);


--
-- Name: OcStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."OcStatus" AS ENUM (
    'PENDIENTE',
    'PROCESAR',
    'PROCESADO',
    'APROBACION_VP',
    'ANULAR',
    'ANULADO',
    'ATENDER_COMPRAS',
    'ATENDIDO'
);


--
-- Name: fix_utf8(text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fix_utf8(text_input text) RETURNS text
    LANGUAGE plpgsql IMMUTABLE
    AS $$
BEGIN
    RETURN 
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(
        REPLACE(text_input,
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '???', '?'), -- ?
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '??', '?'),  -- ?
            '??', '?');  -- ? (alternativa)
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AccountingClosure; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AccountingClosure" (
    id integer NOT NULL,
    "periodId" integer NOT NULL,
    "receivedAt" timestamp(3) without time zone,
    "sourceRef" text
);


--
-- Name: AccountingClosure_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."AccountingClosure_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: AccountingClosure_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."AccountingClosure_id_seq" OWNED BY public."AccountingClosure".id;


--
-- Name: Area; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Area" (
    id integer NOT NULL,
    code text,
    name text NOT NULL,
    "managementId" integer NOT NULL,
    active boolean DEFAULT true NOT NULL
);


--
-- Name: Area_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Area_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Area_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Area_id_seq" OWNED BY public."Area".id;


--
-- Name: Articulo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Articulo" (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


--
-- Name: Articulo_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Articulo_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Articulo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Articulo_id_seq" OWNED BY public."Articulo".id;


--
-- Name: BudgetAllocation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."BudgetAllocation" (
    id integer NOT NULL,
    "versionId" integer NOT NULL,
    "supportId" integer NOT NULL,
    "periodId" integer NOT NULL,
    "amountLocal" numeric(65,30) NOT NULL,
    currency text DEFAULT 'PEN'::text NOT NULL,
    "costCenterId" integer,
    "budgetType" text DEFAULT 'PPTO'::text NOT NULL
);


--
-- Name: BudgetAllocation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."BudgetAllocation_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: BudgetAllocation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."BudgetAllocation_id_seq" OWNED BY public."BudgetAllocation".id;


--
-- Name: BudgetVersion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."BudgetVersion" (
    id integer NOT NULL,
    name text NOT NULL,
    status text NOT NULL
);


--
-- Name: BudgetVersion_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."BudgetVersion_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: BudgetVersion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."BudgetVersion_id_seq" OWNED BY public."BudgetVersion".id;


--
-- Name: ControlLine; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ControlLine" (
    id integer NOT NULL,
    "supportId" integer NOT NULL,
    type public."ClType" NOT NULL,
    state public."ClState" DEFAULT 'NO_PROCESADO'::public."ClState" NOT NULL,
    "periodId" integer NOT NULL,
    "accountingPeriodId" integer,
    "invoiceId" integer,
    "poId" integer,
    description text,
    currency text,
    "amountForeign" numeric(65,30),
    "fxRateProvisional" numeric(65,30) DEFAULT 1.0,
    "fxRateFinal" numeric(65,30),
    "amountLocal" numeric(65,30) NOT NULL,
    "createdBy" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: ControlLine_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."ControlLine_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ControlLine_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."ControlLine_id_seq" OWNED BY public."ControlLine".id;


--
-- Name: CostCenter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CostCenter" (
    id integer NOT NULL,
    code text NOT NULL,
    name text
);


--
-- Name: CostCenter_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."CostCenter_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: CostCenter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."CostCenter_id_seq" OWNED BY public."CostCenter".id;


--
-- Name: ExchangeRate; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ExchangeRate" (
    id integer NOT NULL,
    year integer NOT NULL,
    rate numeric(65,30) NOT NULL
);


--
-- Name: ExchangeRate_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."ExchangeRate_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ExchangeRate_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."ExchangeRate_id_seq" OWNED BY public."ExchangeRate".id;


--
-- Name: ExpenseConcept; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ExpenseConcept" (
    id integer NOT NULL,
    name text NOT NULL,
    "packageId" integer NOT NULL
);


--
-- Name: ExpenseConcept_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."ExpenseConcept_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ExpenseConcept_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."ExpenseConcept_id_seq" OWNED BY public."ExpenseConcept".id;


--
-- Name: ExpensePackage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ExpensePackage" (
    id integer NOT NULL,
    name text NOT NULL
);


--
-- Name: ExpensePackage_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."ExpensePackage_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ExpensePackage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."ExpensePackage_id_seq" OWNED BY public."ExpensePackage".id;


--
-- Name: FxReference; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."FxReference" (
    id integer NOT NULL,
    currency text NOT NULL,
    rate numeric(65,30) NOT NULL,
    "effectiveFrom" timestamp(3) without time zone NOT NULL,
    "effectiveTo" timestamp(3) without time zone
);


--
-- Name: FxReference_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."FxReference_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: FxReference_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."FxReference_id_seq" OWNED BY public."FxReference".id;


--
-- Name: Invoice; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Invoice" (
    id integer NOT NULL,
    "vendorId" integer,
    "docType" public."InvDocType" DEFAULT 'FACTURA'::public."InvDocType" NOT NULL,
    "numberNorm" text,
    currency text DEFAULT 'PEN'::text NOT NULL,
    "totalForeign" numeric(65,30),
    "totalLocal" numeric(65,30),
    "statusCurrent" public."InvStatus" DEFAULT 'INGRESADO'::public."InvStatus" NOT NULL,
    "ultimusIncident" text,
    "approvedAt" timestamp(3) without time zone,
    "ocId" integer,
    "montoSinIgv" numeric(65,30),
    detalle text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "exchangeRateOverride" numeric(65,30),
    "mesContable" text,
    "tcEstandar" numeric(65,30),
    "tcReal" numeric(65,30),
    "montoPEN_tcEstandar" numeric(65,30),
    "montoPEN_tcReal" numeric(65,30),
    "diferenciaTC" numeric(65,30)
);


--
-- Name: InvoiceCostCenter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."InvoiceCostCenter" (
    id integer NOT NULL,
    "invoiceId" integer NOT NULL,
    "costCenterId" integer NOT NULL,
    amount numeric(65,30),
    percentage numeric(65,30),
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: InvoiceCostCenter_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."InvoiceCostCenter_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: InvoiceCostCenter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."InvoiceCostCenter_id_seq" OWNED BY public."InvoiceCostCenter".id;


--
-- Name: InvoicePeriod; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."InvoicePeriod" (
    id integer NOT NULL,
    "invoiceId" integer NOT NULL,
    "periodId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: InvoicePeriod_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."InvoicePeriod_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: InvoicePeriod_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."InvoicePeriod_id_seq" OWNED BY public."InvoicePeriod".id;


--
-- Name: InvoiceStatusHistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."InvoiceStatusHistory" (
    id integer NOT NULL,
    "invoiceId" integer NOT NULL,
    status public."InvStatus" NOT NULL,
    "changedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "changedBy" integer,
    note text
);


--
-- Name: InvoiceStatusHistory_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."InvoiceStatusHistory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: InvoiceStatusHistory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."InvoiceStatusHistory_id_seq" OWNED BY public."InvoiceStatusHistory".id;


--
-- Name: Invoice_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Invoice_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Invoice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Invoice_id_seq" OWNED BY public."Invoice".id;


--
-- Name: Management; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Management" (
    id integer NOT NULL,
    code text,
    name text NOT NULL,
    active boolean DEFAULT true NOT NULL
);


--
-- Name: Management_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Management_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Management_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Management_id_seq" OWNED BY public."Management".id;


--
-- Name: OC; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OC" (
    id integer NOT NULL,
    "budgetPeriodFromId" integer NOT NULL,
    "budgetPeriodToId" integer NOT NULL,
    "incidenteOc" text,
    "solicitudOc" text,
    "fechaRegistro" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "supportId" integer NOT NULL,
    "periodoEnFechasText" text,
    descripcion text,
    "nombreSolicitante" text NOT NULL,
    "correoSolicitante" text NOT NULL,
    proveedor text NOT NULL,
    ruc text NOT NULL,
    moneda text NOT NULL,
    "importeSinIgv" numeric(65,30) NOT NULL,
    estado public."OcStatus" DEFAULT 'PENDIENTE'::public."OcStatus" NOT NULL,
    "numeroOc" text,
    comentario text,
    "articuloId" integer,
    "cecoId" integer,
    "linkCotizacion" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: OCCostCenter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OCCostCenter" (
    id integer NOT NULL,
    "ocId" integer NOT NULL,
    "costCenterId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: OCCostCenter_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."OCCostCenter_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: OCCostCenter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."OCCostCenter_id_seq" OWNED BY public."OCCostCenter".id;


--
-- Name: OCStatusHistory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."OCStatusHistory" (
    id integer NOT NULL,
    "ocId" integer NOT NULL,
    status public."OcStatus" NOT NULL,
    "changedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "changedBy" integer,
    note text
);


--
-- Name: OCStatusHistory_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."OCStatusHistory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: OCStatusHistory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."OCStatusHistory_id_seq" OWNED BY public."OCStatusHistory".id;


--
-- Name: OC_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."OC_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: OC_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."OC_id_seq" OWNED BY public."OC".id;


--
-- Name: Period; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Period" (
    id integer NOT NULL,
    year integer NOT NULL,
    month integer NOT NULL,
    label text
);


--
-- Name: Period_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Period_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Period_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Period_id_seq" OWNED BY public."Period".id;


--
-- Name: Permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Permission" (
    id integer NOT NULL,
    key text NOT NULL,
    name text NOT NULL,
    description text,
    module text,
    "parentKey" text,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


--
-- Name: Permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Permission_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Permission_id_seq" OWNED BY public."Permission".id;


--
-- Name: Provision; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Provision" (
    id integer NOT NULL,
    "sustentoId" integer NOT NULL,
    "periodoPpto" text NOT NULL,
    "periodoContable" text NOT NULL,
    "montoPen" numeric(65,30) NOT NULL,
    detalle text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Provision_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Provision_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Provision_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Provision_id_seq" OWNED BY public."Provision".id;


--
-- Name: PurchaseOrder; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PurchaseOrder" (
    id integer NOT NULL,
    number text NOT NULL,
    "vendorId" integer,
    "incCode" text
);


--
-- Name: PurchaseOrder_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."PurchaseOrder_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: PurchaseOrder_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."PurchaseOrder_id_seq" OWNED BY public."PurchaseOrder".id;


--
-- Name: Role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Role" (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    "isSystem" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: RolePermission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."RolePermission" (
    id integer NOT NULL,
    "roleId" integer NOT NULL,
    "permissionId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: RolePermission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."RolePermission_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: RolePermission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."RolePermission_id_seq" OWNED BY public."RolePermission".id;


--
-- Name: Role_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Role_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Role_id_seq" OWNED BY public."Role".id;


--
-- Name: Support; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Support" (
    id integer NOT NULL,
    code text,
    name text NOT NULL,
    "costCenterId" integer,
    management text,
    area text,
    "vendorId" integer,
    active boolean DEFAULT true NOT NULL,
    "expensePackageId" integer,
    "expenseConceptId" integer,
    "expenseType" public."ExpenseType" DEFAULT 'ADMINISTRATIVO'::public."ExpenseType" NOT NULL,
    "managementId" integer,
    "areaId" integer
);


--
-- Name: SupportCostCenter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SupportCostCenter" (
    id integer NOT NULL,
    "supportId" integer NOT NULL,
    "costCenterId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: SupportCostCenter_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."SupportCostCenter_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: SupportCostCenter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."SupportCostCenter_id_seq" OWNED BY public."SupportCostCenter".id;


--
-- Name: Support_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Support_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Support_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Support_id_seq" OWNED BY public."Support".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    name text,
    "googleId" text,
    active boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: UserRole; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."UserRole" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "roleId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: UserRole_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."UserRole_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: UserRole_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."UserRole_id_seq" OWNED BY public."UserRole".id;


--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: Vendor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Vendor" (
    id integer NOT NULL,
    "legalName" text NOT NULL,
    "taxId" text
);


--
-- Name: Vendor_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Vendor_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Vendor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Vendor_id_seq" OWNED BY public."Vendor".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: AccountingClosure id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccountingClosure" ALTER COLUMN id SET DEFAULT nextval('public."AccountingClosure_id_seq"'::regclass);


--
-- Name: Area id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Area" ALTER COLUMN id SET DEFAULT nextval('public."Area_id_seq"'::regclass);


--
-- Name: Articulo id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Articulo" ALTER COLUMN id SET DEFAULT nextval('public."Articulo_id_seq"'::regclass);


--
-- Name: BudgetAllocation id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BudgetAllocation" ALTER COLUMN id SET DEFAULT nextval('public."BudgetAllocation_id_seq"'::regclass);


--
-- Name: BudgetVersion id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BudgetVersion" ALTER COLUMN id SET DEFAULT nextval('public."BudgetVersion_id_seq"'::regclass);


--
-- Name: ControlLine id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ControlLine" ALTER COLUMN id SET DEFAULT nextval('public."ControlLine_id_seq"'::regclass);


--
-- Name: CostCenter id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CostCenter" ALTER COLUMN id SET DEFAULT nextval('public."CostCenter_id_seq"'::regclass);


--
-- Name: ExchangeRate id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ExchangeRate" ALTER COLUMN id SET DEFAULT nextval('public."ExchangeRate_id_seq"'::regclass);


--
-- Name: ExpenseConcept id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ExpenseConcept" ALTER COLUMN id SET DEFAULT nextval('public."ExpenseConcept_id_seq"'::regclass);


--
-- Name: ExpensePackage id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ExpensePackage" ALTER COLUMN id SET DEFAULT nextval('public."ExpensePackage_id_seq"'::regclass);


--
-- Name: FxReference id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."FxReference" ALTER COLUMN id SET DEFAULT nextval('public."FxReference_id_seq"'::regclass);


--
-- Name: Invoice id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice" ALTER COLUMN id SET DEFAULT nextval('public."Invoice_id_seq"'::regclass);


--
-- Name: InvoiceCostCenter id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceCostCenter" ALTER COLUMN id SET DEFAULT nextval('public."InvoiceCostCenter_id_seq"'::regclass);


--
-- Name: InvoicePeriod id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoicePeriod" ALTER COLUMN id SET DEFAULT nextval('public."InvoicePeriod_id_seq"'::regclass);


--
-- Name: InvoiceStatusHistory id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceStatusHistory" ALTER COLUMN id SET DEFAULT nextval('public."InvoiceStatusHistory_id_seq"'::regclass);


--
-- Name: Management id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Management" ALTER COLUMN id SET DEFAULT nextval('public."Management_id_seq"'::regclass);


--
-- Name: OC id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OC" ALTER COLUMN id SET DEFAULT nextval('public."OC_id_seq"'::regclass);


--
-- Name: OCCostCenter id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OCCostCenter" ALTER COLUMN id SET DEFAULT nextval('public."OCCostCenter_id_seq"'::regclass);


--
-- Name: OCStatusHistory id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OCStatusHistory" ALTER COLUMN id SET DEFAULT nextval('public."OCStatusHistory_id_seq"'::regclass);


--
-- Name: Period id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Period" ALTER COLUMN id SET DEFAULT nextval('public."Period_id_seq"'::regclass);


--
-- Name: Permission id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Permission" ALTER COLUMN id SET DEFAULT nextval('public."Permission_id_seq"'::regclass);


--
-- Name: Provision id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Provision" ALTER COLUMN id SET DEFAULT nextval('public."Provision_id_seq"'::regclass);


--
-- Name: PurchaseOrder id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PurchaseOrder" ALTER COLUMN id SET DEFAULT nextval('public."PurchaseOrder_id_seq"'::regclass);


--
-- Name: Role id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Role" ALTER COLUMN id SET DEFAULT nextval('public."Role_id_seq"'::regclass);


--
-- Name: RolePermission id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RolePermission" ALTER COLUMN id SET DEFAULT nextval('public."RolePermission_id_seq"'::regclass);


--
-- Name: Support id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Support" ALTER COLUMN id SET DEFAULT nextval('public."Support_id_seq"'::regclass);


--
-- Name: SupportCostCenter id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupportCostCenter" ALTER COLUMN id SET DEFAULT nextval('public."SupportCostCenter_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Name: UserRole id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRole" ALTER COLUMN id SET DEFAULT nextval('public."UserRole_id_seq"'::regclass);


--
-- Name: Vendor id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Vendor" ALTER COLUMN id SET DEFAULT nextval('public."Vendor_id_seq"'::regclass);


--
-- Data for Name: AccountingClosure; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AccountingClosure" (id, "periodId", "receivedAt", "sourceRef") FROM stdin;
\.


--
-- Data for Name: Area; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Articulo; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: BudgetAllocation; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: BudgetVersion; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."BudgetVersion" (id, name, status) FROM stdin;
1	Original 2026	ACTIVE
\.


--
-- Data for Name: ControlLine; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ControlLine" (id, "supportId", type, state, "periodId", "accountingPeriodId", "invoiceId", "poId", description, currency, "amountForeign", "fxRateProvisional", "fxRateFinal", "amountLocal", "createdBy", "createdAt") FROM stdin;
\.


--
-- Data for Name: CostCenter; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CostCenter" (id, code, name) FROM stdin;
5	21.94.12.V	\N
6	60.60.12.V	\N
7	66.66.12.V	\N
8	71.32.01.F	\N
9	71.32.01.V	\N
10	71.38.01.V	\N
11	71.39.01.V	\N
12	71.40.12.V	\N
13	76.11.01.V	\N
14	76.13.01.V	\N
15	76.15.01.V	\N
16	80.05.99.F	\N
17	80.12.99.F	\N
18	80.13.99.F	\N
19	81.10.99.F	\N
20	83.05.99.F	\N
21	93.03.99.F	\N
22	93.10.99.F	\N
23	93.14.99.F	\N
24	94.07.99.F	\N
25	94.10.99.F	\N
26	95.05.99.F	\N
27	95.10.99.F	\N
28	96.10.98.F	\N
30	Dotaci├│n Provincia	ΓÇö
29	Dotaci├│n Lima	ΓÇö
31	Dotaci├│n Total	ΓÇö
\.


--
-- Data for Name: ExchangeRate; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ExchangeRate" (id, year, rate) FROM stdin;
1	2025	3.700000000000000000000000000000
\.


--
-- Data for Name: ExpenseConcept; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ExpenseConcept" (id, name, "packageId") FROM stdin;
6	Serv.Ext.Computacionales	8
7	Proyectos TI	8
8	Infraestructura	8
9	Honorarios Profesionales Ti	8
10	Ciberseguridad	8
11	Activos fijos y compras	9
12	Bolsa Protocolo De Costos	10
13	Descuentos Colaboradores	11
14	QA Externo	12
15	Consultoria Marketing	12
16	Licencias SaaS	13
17	Servicios Cloud	13
\.


--
-- Data for Name: ExpensePackage; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ExpensePackage" (id, name) FROM stdin;
8	Gastos TI y Proyectos
9	Otras Cuentas
10	Otros proyectos
11	Gasto de Personal
12	Servicios Profesionales
13	Operacion TI
\.


--
-- Data for Name: FxReference; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."FxReference" (id, currency, rate, "effectiveFrom", "effectiveTo") FROM stdin;
1	USD	3.750000000000000000000000000000	2026-01-01 00:00:00	2026-06-30 00:00:00
2	USD	3.700000000000000000000000000000	2026-07-01 00:00:00	\N
\.


--
-- Data for Name: Invoice; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Invoice" (id, "vendorId", "docType", "numberNorm", currency, "totalForeign", "totalLocal", "statusCurrent", "ultimusIncident", "approvedAt", "ocId", "montoSinIgv", detalle, "createdAt", "updatedAt", "exchangeRateOverride", "mesContable", "tcEstandar", "tcReal", "montoPEN_tcEstandar", "montoPEN_tcReal", "diferenciaTC") FROM stdin;
\.


--
-- Data for Name: InvoiceCostCenter; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."InvoiceCostCenter" (id, "invoiceId", "costCenterId", amount, percentage, "createdAt") FROM stdin;
\.


--
-- Data for Name: InvoicePeriod; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."InvoicePeriod" (id, "invoiceId", "periodId", "createdAt") FROM stdin;
\.


--
-- Data for Name: InvoiceStatusHistory; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."InvoiceStatusHistory" (id, "invoiceId", status, "changedAt", "changedBy", note) FROM stdin;
\.


--
-- Data for Name: Management; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Management" (id, code, name, active) FROM stdin;
4	\N	Agilidad	t
5	\N	Cloud Architect & Infrastructure	t
10	\N	Otras Areas	t
14	\N	Data	t
7	\N	IT Governance	t
8	\N	Software & Engineering	t
22	GER-COM	Gerencia Comercial	t
\.


--
-- Data for Name: OC; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: OCCostCenter; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."OCCostCenter" (id, "ocId", "costCenterId", "createdAt") FROM stdin;
22	8	19	2025-12-12 00:26:17.856
23	7	31	2025-12-12 00:27:12.371
\.


--
-- Data for Name: OCStatusHistory; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."OCStatusHistory" (id, "ocId", status, "changedAt", "changedBy", note) FROM stdin;
1	7	ATENDIDO	2025-12-11 05:00:00	\N	\N
2	7	PENDIENTE	2025-12-11 23:47:04.22	\N	\N
3	7	APROBACION_VP	2025-12-11 23:47:32.595	\N	\N
4	7	ATENDER_COMPRAS	2025-12-11 23:47:44.032	\N	\N
5	7	ATENDIDO	2025-12-11 23:47:54.579	\N	\N
6	7	PENDIENTE	2025-12-11 23:48:58.5	\N	\N
7	7	APROBACION_VP	2025-12-12 00:02:43.329	\N	\N
8	7	ATENDIDO	2025-12-12 00:04:12.497	\N	\N
9	7	PENDIENTE	2025-12-12 00:05:59.404	\N	\N
10	8	PENDIENTE	2025-12-12 00:26:17.846	\N	\N
\.


--
-- Data for Name: Period; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Provision; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Provision" (id, "sustentoId", "periodoPpto", "periodoContable", "montoPen", detalle, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PurchaseOrder; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."PurchaseOrder" (id, number, "vendorId", "incCode") FROM stdin;
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Role" (id, name, description, "isSystem", "createdAt", "updatedAt") FROM stdin;
2	viewer	Usuario con acceso de solo lectura a m?dulos b?sicos	t	2025-12-03 17:52:36.99	2025-12-03 17:52:36.99
1	super_admin	Administrador con acceso total al sistema	t	2025-12-03 16:40:03.391	2025-12-11 23:44:58.323
\.


--
-- Data for Name: RolePermission; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."RolePermission" (id, "roleId", "permissionId", "createdAt") FROM stdin;
27	2	1	2025-12-03 17:52:37.001
28	2	2	2025-12-03 17:52:37.014
29	2	3	2025-12-03 17:52:37.022
43	1	1	2025-12-11 23:44:58.337
44	1	2	2025-12-11 23:44:58.337
45	1	3	2025-12-11 23:44:58.337
46	1	6	2025-12-11 23:44:58.337
47	1	7	2025-12-11 23:44:58.337
48	1	8	2025-12-11 23:44:58.337
49	1	9	2025-12-11 23:44:58.337
50	1	4	2025-12-11 23:44:58.337
51	1	15	2025-12-11 23:44:58.337
52	1	17	2025-12-11 23:44:58.337
53	1	5	2025-12-11 23:44:58.337
54	1	16	2025-12-11 23:44:58.337
\.


--
-- Data for Name: Support; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: SupportCostCenter; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."User" (id, email, name, "googleId", active, "createdAt", "updatedAt") FROM stdin;
1	iago.lopez@interseguro.com.pe	Iago Lopez Chapiama	105108911489206185953	t	2025-12-03 16:40:03.466	2025-12-03 17:38:10.921
2	isautomation.center@interseguro.com.pe	IS Automation Center	109006581726863708267	t	2025-12-05 18:46:40.751	2025-12-05 18:46:40.751
\.


--
-- Data for Name: UserRole; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."UserRole" (id, "userId", "roleId", "createdAt") FROM stdin;
1	1	1	2025-12-03 16:40:03.477
2	2	2	2025-12-05 18:46:40.791
\.


--
-- Data for Name: Vendor; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Vendor" (id, "legalName", "taxId") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: AccountingClosure_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."AccountingClosure_id_seq"', 1, false);


--
-- Name: Area_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Area_id_seq"', 47, true);


--
-- Name: Articulo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Articulo_id_seq"', 220, true);


--
-- Name: BudgetAllocation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."BudgetAllocation_id_seq"', 3970, true);


--
-- Name: BudgetVersion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."BudgetVersion_id_seq"', 1, true);


--
-- Name: ControlLine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ControlLine_id_seq"', 1, false);


--
-- Name: CostCenter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."CostCenter_id_seq"', 37, true);


--
-- Name: ExchangeRate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ExchangeRate_id_seq"', 1, true);


--
-- Name: ExpenseConcept_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ExpenseConcept_id_seq"', 17, true);


--
-- Name: ExpensePackage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ExpensePackage_id_seq"', 13, true);


--
-- Name: FxReference_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."FxReference_id_seq"', 2, true);


--
-- Name: InvoiceCostCenter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."InvoiceCostCenter_id_seq"', 14, true);


--
-- Name: InvoicePeriod_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."InvoicePeriod_id_seq"', 20, true);


--
-- Name: InvoiceStatusHistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."InvoiceStatusHistory_id_seq"', 19, true);


--
-- Name: Invoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Invoice_id_seq"', 6, true);


--
-- Name: Management_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Management_id_seq"', 22, true);


--
-- Name: OCCostCenter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."OCCostCenter_id_seq"', 23, true);


--
-- Name: OCStatusHistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."OCStatusHistory_id_seq"', 10, true);


--
-- Name: OC_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."OC_id_seq"', 8, true);


--
-- Name: Period_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Period_id_seq"', 168, true);


--
-- Name: Permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Permission_id_seq"', 21, true);


--
-- Name: Provision_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Provision_id_seq"', 2, true);


--
-- Name: PurchaseOrder_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."PurchaseOrder_id_seq"', 1, false);


--
-- Name: RolePermission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."RolePermission_id_seq"', 54, true);


--
-- Name: Role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Role_id_seq"', 2, true);


--
-- Name: SupportCostCenter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."SupportCostCenter_id_seq"', 141, true);


--
-- Name: Support_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Support_id_seq"', 115, true);


--
-- Name: UserRole_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."UserRole_id_seq"', 2, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."User_id_seq"', 2, true);


--
-- Name: Vendor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Vendor_id_seq"', 1, false);


--
-- Name: AccountingClosure AccountingClosure_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccountingClosure"
    ADD CONSTRAINT "AccountingClosure_pkey" PRIMARY KEY (id);


--
-- Name: Area Area_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Area"
    ADD CONSTRAINT "Area_pkey" PRIMARY KEY (id);


--
-- Name: Articulo Articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Articulo"
    ADD CONSTRAINT "Articulo_pkey" PRIMARY KEY (id);


--
-- Name: BudgetAllocation BudgetAllocation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BudgetAllocation"
    ADD CONSTRAINT "BudgetAllocation_pkey" PRIMARY KEY (id);


--
-- Name: BudgetVersion BudgetVersion_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BudgetVersion"
    ADD CONSTRAINT "BudgetVersion_pkey" PRIMARY KEY (id);


--
-- Name: ControlLine ControlLine_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ControlLine"
    ADD CONSTRAINT "ControlLine_pkey" PRIMARY KEY (id);


--
-- Name: CostCenter CostCenter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CostCenter"
    ADD CONSTRAINT "CostCenter_pkey" PRIMARY KEY (id);


--
-- Name: ExchangeRate ExchangeRate_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ExchangeRate"
    ADD CONSTRAINT "ExchangeRate_pkey" PRIMARY KEY (id);


--
-- Name: ExpenseConcept ExpenseConcept_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ExpenseConcept"
    ADD CONSTRAINT "ExpenseConcept_pkey" PRIMARY KEY (id);


--
-- Name: ExpensePackage ExpensePackage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ExpensePackage"
    ADD CONSTRAINT "ExpensePackage_pkey" PRIMARY KEY (id);


--
-- Name: FxReference FxReference_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."FxReference"
    ADD CONSTRAINT "FxReference_pkey" PRIMARY KEY (id);


--
-- Name: InvoiceCostCenter InvoiceCostCenter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceCostCenter"
    ADD CONSTRAINT "InvoiceCostCenter_pkey" PRIMARY KEY (id);


--
-- Name: InvoicePeriod InvoicePeriod_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoicePeriod"
    ADD CONSTRAINT "InvoicePeriod_pkey" PRIMARY KEY (id);


--
-- Name: InvoiceStatusHistory InvoiceStatusHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceStatusHistory"
    ADD CONSTRAINT "InvoiceStatusHistory_pkey" PRIMARY KEY (id);


--
-- Name: Invoice Invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_pkey" PRIMARY KEY (id);


--
-- Name: Management Management_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Management"
    ADD CONSTRAINT "Management_pkey" PRIMARY KEY (id);


--
-- Name: OCCostCenter OCCostCenter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OCCostCenter"
    ADD CONSTRAINT "OCCostCenter_pkey" PRIMARY KEY (id);


--
-- Name: OCStatusHistory OCStatusHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OCStatusHistory"
    ADD CONSTRAINT "OCStatusHistory_pkey" PRIMARY KEY (id);


--
-- Name: OC OC_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OC"
    ADD CONSTRAINT "OC_pkey" PRIMARY KEY (id);


--
-- Name: Period Period_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Period"
    ADD CONSTRAINT "Period_pkey" PRIMARY KEY (id);


--
-- Name: Permission Permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_pkey" PRIMARY KEY (id);


--
-- Name: Provision Provision_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Provision"
    ADD CONSTRAINT "Provision_pkey" PRIMARY KEY (id);


--
-- Name: PurchaseOrder PurchaseOrder_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PurchaseOrder"
    ADD CONSTRAINT "PurchaseOrder_pkey" PRIMARY KEY (id);


--
-- Name: RolePermission RolePermission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_pkey" PRIMARY KEY (id);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: SupportCostCenter SupportCostCenter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupportCostCenter"
    ADD CONSTRAINT "SupportCostCenter_pkey" PRIMARY KEY (id);


--
-- Name: Support Support_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Support"
    ADD CONSTRAINT "Support_name_key" UNIQUE (name);


--
-- Name: Support Support_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Support"
    ADD CONSTRAINT "Support_pkey" PRIMARY KEY (id);


--
-- Name: UserRole UserRole_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Vendor Vendor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Vendor"
    ADD CONSTRAINT "Vendor_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AccountingClosure_periodId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "AccountingClosure_periodId_key" ON public."AccountingClosure" USING btree ("periodId");


--
-- Name: Area_name_unique_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Area_name_unique_lower" ON public."Area" USING btree (lower(name));


--
-- Name: Articulo_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Articulo_code_key" ON public."Articulo" USING btree (code);


--
-- Name: Articulo_code_unique_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Articulo_code_unique_lower" ON public."Articulo" USING btree (lower(code));


--
-- Name: BudgetAllocation_versionId_periodId_supportId_costCenterId__key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "BudgetAllocation_versionId_periodId_supportId_costCenterId__key" ON public."BudgetAllocation" USING btree ("versionId", "periodId", "supportId", "costCenterId", "budgetType");


--
-- Name: CostCenter_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CostCenter_code_key" ON public."CostCenter" USING btree (code);


--
-- Name: CostCenter_code_unique_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CostCenter_code_unique_lower" ON public."CostCenter" USING btree (lower(code));


--
-- Name: ExchangeRate_year_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "ExchangeRate_year_key" ON public."ExchangeRate" USING btree (year);


--
-- Name: ExpenseConcept_packageId_name_unique_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "ExpenseConcept_packageId_name_unique_lower" ON public."ExpenseConcept" USING btree ("packageId", lower(name));


--
-- Name: ExpensePackage_name_unique_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "ExpensePackage_name_unique_lower" ON public."ExpensePackage" USING btree (lower(name));


--
-- Name: InvoiceCostCenter_invoiceId_costCenterId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "InvoiceCostCenter_invoiceId_costCenterId_key" ON public."InvoiceCostCenter" USING btree ("invoiceId", "costCenterId");


--
-- Name: InvoicePeriod_invoiceId_periodId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "InvoicePeriod_invoiceId_periodId_key" ON public."InvoicePeriod" USING btree ("invoiceId", "periodId");


--
-- Name: Management_name_unique_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Management_name_unique_lower" ON public."Management" USING btree (lower(name));


--
-- Name: OCCostCenter_ocId_costCenterId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "OCCostCenter_ocId_costCenterId_key" ON public."OCCostCenter" USING btree ("ocId", "costCenterId");


--
-- Name: OC_numeroOc_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "OC_numeroOc_key" ON public."OC" USING btree ("numeroOc");


--
-- Name: Permission_key_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Permission_key_key" ON public."Permission" USING btree (key);


--
-- Name: PurchaseOrder_number_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "PurchaseOrder_number_key" ON public."PurchaseOrder" USING btree (number);


--
-- Name: RolePermission_roleId_permissionId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "RolePermission_roleId_permissionId_key" ON public."RolePermission" USING btree ("roleId", "permissionId");


--
-- Name: Role_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Role_name_key" ON public."Role" USING btree (name);


--
-- Name: SupportCostCenter_supportId_costCenterId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "SupportCostCenter_supportId_costCenterId_key" ON public."SupportCostCenter" USING btree ("supportId", "costCenterId");


--
-- Name: Support_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Support_code_key" ON public."Support" USING btree (code);


--
-- Name: Support_name_unique_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Support_name_unique_lower" ON public."Support" USING btree (lower(name));


--
-- Name: UserRole_userId_roleId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "UserRole_userId_roleId_key" ON public."UserRole" USING btree ("userId", "roleId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_googleId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_googleId_key" ON public."User" USING btree ("googleId");


--
-- Name: Vendor_taxId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Vendor_taxId_key" ON public."Vendor" USING btree ("taxId");


--
-- Name: ix_alloc_budget_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_alloc_budget_type ON public."BudgetAllocation" USING btree ("budgetType");


--
-- Name: ix_alloc_period_ceco; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_alloc_period_ceco ON public."BudgetAllocation" USING btree ("periodId", "costCenterId");


--
-- Name: ix_cl_accounting_period; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cl_accounting_period ON public."ControlLine" USING btree ("accountingPeriodId");


--
-- Name: ix_cl_period; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cl_period ON public."ControlLine" USING btree ("periodId");


--
-- Name: ix_cl_support_accounting_period; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cl_support_accounting_period ON public."ControlLine" USING btree ("supportId", "accountingPeriodId");


--
-- Name: ix_cl_type_state; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_cl_type_state ON public."ControlLine" USING btree (type, state);


--
-- Name: ix_invoice_oc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_invoice_oc ON public."Invoice" USING btree ("ocId");


--
-- Name: ix_invoicecostcenter_costcenter; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_invoicecostcenter_costcenter ON public."InvoiceCostCenter" USING btree ("costCenterId");


--
-- Name: ix_invoicecostcenter_invoice; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_invoicecostcenter_invoice ON public."InvoiceCostCenter" USING btree ("invoiceId");


--
-- Name: ix_invoiceperiod_invoice; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_invoiceperiod_invoice ON public."InvoicePeriod" USING btree ("invoiceId");


--
-- Name: ix_invoiceperiod_period; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_invoiceperiod_period ON public."InvoicePeriod" USING btree ("periodId");


--
-- Name: ix_oc_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_oc_estado ON public."OC" USING btree (estado);


--
-- Name: ix_oc_fecha_registro; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_oc_fecha_registro ON public."OC" USING btree ("fechaRegistro");


--
-- Name: ix_oc_support; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_oc_support ON public."OC" USING btree ("supportId");


--
-- Name: ix_occostcenter_costcenter; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_occostcenter_costcenter ON public."OCCostCenter" USING btree ("costCenterId");


--
-- Name: ix_occostcenter_oc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_occostcenter_oc ON public."OCCostCenter" USING btree ("ocId");


--
-- Name: ix_ocstatushistory_changed_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ocstatushistory_changed_at ON public."OCStatusHistory" USING btree ("changedAt");


--
-- Name: ix_ocstatushistory_oc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ocstatushistory_oc ON public."OCStatusHistory" USING btree ("ocId");


--
-- Name: ix_permission_key; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_permission_key ON public."Permission" USING btree (key);


--
-- Name: ix_permission_module; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_permission_module ON public."Permission" USING btree (module);


--
-- Name: ix_permission_parent; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_permission_parent ON public."Permission" USING btree ("parentKey");


--
-- Name: ix_provision_periodo_contable; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_provision_periodo_contable ON public."Provision" USING btree ("periodoContable");


--
-- Name: ix_provision_periodo_ppto; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_provision_periodo_ppto ON public."Provision" USING btree ("periodoPpto");


--
-- Name: ix_provision_sustento; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_provision_sustento ON public."Provision" USING btree ("sustentoId");


--
-- Name: ix_role_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_role_name ON public."Role" USING btree (name);


--
-- Name: ix_rolepermission_permission; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_rolepermission_permission ON public."RolePermission" USING btree ("permissionId");


--
-- Name: ix_rolepermission_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_rolepermission_role ON public."RolePermission" USING btree ("roleId");


--
-- Name: ix_supportcostcenter_costcenter; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_supportcostcenter_costcenter ON public."SupportCostCenter" USING btree ("costCenterId");


--
-- Name: ix_supportcostcenter_support; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_supportcostcenter_support ON public."SupportCostCenter" USING btree ("supportId");


--
-- Name: ix_user_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_user_email ON public."User" USING btree (email);


--
-- Name: ix_userrole_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_userrole_role ON public."UserRole" USING btree ("roleId");


--
-- Name: ix_userrole_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_userrole_user ON public."UserRole" USING btree ("userId");


--
-- Name: AccountingClosure AccountingClosure_periodId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AccountingClosure"
    ADD CONSTRAINT "AccountingClosure_periodId_fkey" FOREIGN KEY ("periodId") REFERENCES public."Period"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Area Area_managementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Area"
    ADD CONSTRAINT "Area_managementId_fkey" FOREIGN KEY ("managementId") REFERENCES public."Management"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BudgetAllocation BudgetAllocation_costCenterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BudgetAllocation"
    ADD CONSTRAINT "BudgetAllocation_costCenterId_fkey" FOREIGN KEY ("costCenterId") REFERENCES public."CostCenter"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BudgetAllocation BudgetAllocation_periodId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BudgetAllocation"
    ADD CONSTRAINT "BudgetAllocation_periodId_fkey" FOREIGN KEY ("periodId") REFERENCES public."Period"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: BudgetAllocation BudgetAllocation_supportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BudgetAllocation"
    ADD CONSTRAINT "BudgetAllocation_supportId_fkey" FOREIGN KEY ("supportId") REFERENCES public."Support"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BudgetAllocation BudgetAllocation_versionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BudgetAllocation"
    ADD CONSTRAINT "BudgetAllocation_versionId_fkey" FOREIGN KEY ("versionId") REFERENCES public."BudgetVersion"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ControlLine ControlLine_accountingPeriodId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ControlLine"
    ADD CONSTRAINT "ControlLine_accountingPeriodId_fkey" FOREIGN KEY ("accountingPeriodId") REFERENCES public."Period"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ControlLine ControlLine_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ControlLine"
    ADD CONSTRAINT "ControlLine_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ControlLine ControlLine_periodId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ControlLine"
    ADD CONSTRAINT "ControlLine_periodId_fkey" FOREIGN KEY ("periodId") REFERENCES public."Period"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ControlLine ControlLine_poId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ControlLine"
    ADD CONSTRAINT "ControlLine_poId_fkey" FOREIGN KEY ("poId") REFERENCES public."PurchaseOrder"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ControlLine ControlLine_supportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ControlLine"
    ADD CONSTRAINT "ControlLine_supportId_fkey" FOREIGN KEY ("supportId") REFERENCES public."Support"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExpenseConcept ExpenseConcept_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ExpenseConcept"
    ADD CONSTRAINT "ExpenseConcept_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public."ExpensePackage"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoiceCostCenter InvoiceCostCenter_costCenterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceCostCenter"
    ADD CONSTRAINT "InvoiceCostCenter_costCenterId_fkey" FOREIGN KEY ("costCenterId") REFERENCES public."CostCenter"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoiceCostCenter InvoiceCostCenter_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceCostCenter"
    ADD CONSTRAINT "InvoiceCostCenter_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoicePeriod InvoicePeriod_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoicePeriod"
    ADD CONSTRAINT "InvoicePeriod_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoicePeriod InvoicePeriod_periodId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoicePeriod"
    ADD CONSTRAINT "InvoicePeriod_periodId_fkey" FOREIGN KEY ("periodId") REFERENCES public."Period"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InvoiceStatusHistory InvoiceStatusHistory_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InvoiceStatusHistory"
    ADD CONSTRAINT "InvoiceStatusHistory_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public."Invoice"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Invoice Invoice_ocId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_ocId_fkey" FOREIGN KEY ("ocId") REFERENCES public."OC"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Invoice Invoice_vendorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Invoice"
    ADD CONSTRAINT "Invoice_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES public."Vendor"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OCCostCenter OCCostCenter_costCenterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OCCostCenter"
    ADD CONSTRAINT "OCCostCenter_costCenterId_fkey" FOREIGN KEY ("costCenterId") REFERENCES public."CostCenter"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OCCostCenter OCCostCenter_ocId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OCCostCenter"
    ADD CONSTRAINT "OCCostCenter_ocId_fkey" FOREIGN KEY ("ocId") REFERENCES public."OC"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OCStatusHistory OCStatusHistory_ocId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OCStatusHistory"
    ADD CONSTRAINT "OCStatusHistory_ocId_fkey" FOREIGN KEY ("ocId") REFERENCES public."OC"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OC OC_articuloId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OC"
    ADD CONSTRAINT "OC_articuloId_fkey" FOREIGN KEY ("articuloId") REFERENCES public."Articulo"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OC OC_budgetPeriodFromId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OC"
    ADD CONSTRAINT "OC_budgetPeriodFromId_fkey" FOREIGN KEY ("budgetPeriodFromId") REFERENCES public."Period"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OC OC_budgetPeriodToId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OC"
    ADD CONSTRAINT "OC_budgetPeriodToId_fkey" FOREIGN KEY ("budgetPeriodToId") REFERENCES public."Period"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OC OC_cecoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OC"
    ADD CONSTRAINT "OC_cecoId_fkey" FOREIGN KEY ("cecoId") REFERENCES public."CostCenter"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OC OC_supportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."OC"
    ADD CONSTRAINT "OC_supportId_fkey" FOREIGN KEY ("supportId") REFERENCES public."Support"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Provision Provision_sustentoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Provision"
    ADD CONSTRAINT "Provision_sustentoId_fkey" FOREIGN KEY ("sustentoId") REFERENCES public."Support"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PurchaseOrder PurchaseOrder_vendorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PurchaseOrder"
    ADD CONSTRAINT "PurchaseOrder_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES public."Vendor"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RolePermission RolePermission_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public."Permission"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RolePermission RolePermission_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SupportCostCenter SupportCostCenter_costCenterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupportCostCenter"
    ADD CONSTRAINT "SupportCostCenter_costCenterId_fkey" FOREIGN KEY ("costCenterId") REFERENCES public."CostCenter"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SupportCostCenter SupportCostCenter_supportId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SupportCostCenter"
    ADD CONSTRAINT "SupportCostCenter_supportId_fkey" FOREIGN KEY ("supportId") REFERENCES public."Support"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Support Support_areaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Support"
    ADD CONSTRAINT "Support_areaId_fkey" FOREIGN KEY ("areaId") REFERENCES public."Area"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Support Support_costCenterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Support"
    ADD CONSTRAINT "Support_costCenterId_fkey" FOREIGN KEY ("costCenterId") REFERENCES public."CostCenter"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Support Support_expenseConceptId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Support"
    ADD CONSTRAINT "Support_expenseConceptId_fkey" FOREIGN KEY ("expenseConceptId") REFERENCES public."ExpenseConcept"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Support Support_expensePackageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Support"
    ADD CONSTRAINT "Support_expensePackageId_fkey" FOREIGN KEY ("expensePackageId") REFERENCES public."ExpensePackage"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Support Support_managementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Support"
    ADD CONSTRAINT "Support_managementId_fkey" FOREIGN KEY ("managementId") REFERENCES public."Management"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserRole UserRole_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserRole UserRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Qna50PZQDTYtZgmG9jGMcawF6y5D0DGzjnPbjvThIRx7u9tS6dr6KHdFZestSzc

